{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}

    {% if request.user.is_authenticated %}

        {% trans 'Your username is' %} <b>{{ request.user.username }}</b>.
        
        <p>&nbsp;</p> 
        <h4>{% trans 'Search' %}</h4>
        <form action="{% url 'videos:searchbar' %}" method="get">
            {% csrf_token %}
            <input type = "text" name ='search'/>
            <Button type = "submit"> Search </button>
            {{searchresults}}
        </form>

    {% else %}

        {% trans 'You are a guest.' %}

    {% endif %}
    
{% endblock %}