{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}

    {% if request.user.is_authenticated %}
    
    {% trans 'Your username is' %} <b>{{ request.user.username }}</b>.
    <br>
    <form action="{% url 'videos:upload' %}" method="post">
        {% csrf_token %}
        <Button type = "submit">Upload Video</button>
    </form>
    </form>
    <br>
    <form action="{% url 'videos:display' %}" method="post">
        {% csrf_token %}
        <Button type = "submit">Show Video To Predict</button>
    </form>


    {% else %}

        {% trans 'You are a guest.' %}

    {% endif %}
    
{% endblock %}