{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}

    {% if request.user.is_authenticated %}
    
    {% trans 'Your username is' %} <b>{{ request.user.username }}</b>.
        
    <p>&nbsp;</p> 
    <h3>{% trans 'Search' %}</h3>
    <form action="{% url 'videos:searchbar' %}" method="get">
        {% csrf_token %}
        <input type = "text" name ='search'/>
        <Button type = "submit">Search</button>
    </form>
    <p>&nbsp;</p> 
    <form action="{% url 'videos:upload' %}" method="post">
        {% csrf_token %}
        <Button type = "submit">Upload Video</button>
    </form>

    </form>
    <p>&nbsp;</p> 
    <form action="{% url 'videos:display' %}" method="post">
        {% csrf_token %}
        <Button type = "submit">Display Video</button>
    </form>


    {% else %}

        {% trans 'You are a guest.' %}

    {% endif %}
    
{% endblock %}